<section class="page-section">
  <h1 class="form-title">Template-driven</h1>
  <form class="template-driven-form" #templateDrivenForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset class="form__fieldset">
      <label for="email" class="form__label">E-mail</label>
      <input [(ngModel)]="model.email" #emailInput="ngModel" name="email" type="email" id="email" class="form__input" required>
      <span *ngIf="emailInput.valid && (emailInput.dirty || emailInput.touched)" class="form-warn">valid</span>
      <span *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="form-warn">invalid</span>
    </fieldset>
    <fieldset class="form__fieldset">
      <label for="name" class="form__label">Name</label>
      <input [(ngModel)]="model.name" #nameInput="ngModel" name="name" type="text" id="name" class="form__input" required appForbiddenName="thomas">
      <span [hidden]="!nameInput.touched" class="form-warn">touched</span>
      <span [hidden]="!nameInput.dirty" class="form-warn">dirty</span>
      <span [hidden]="!nameInput.pristine" class="form-warn">pristine</span>
    </fieldset>
    <fieldset class="form__fieldset">
      <label for="country" class="form__label">Country</label>
      <input [(ngModel)]="model.country" name="country" type="text" id="country" class="form__input" required>
    </fieldset>
    <fieldset class="form__fieldset">
      <label for="language" class="form__label">Language</label>
      <input [(ngModel)]="model.language" name="language" type="text" id="language" class="form__input">
    </fieldset>
    <button [disabled]="!templateDrivenForm.form.valid" type="submit" class="form__submit-btn">Submit</button>
    <button type="button" class="form__submit-btn" (click)="fillForm()" >Fill Form</button>
    <button type="button" class="form__submit-btn" (click)="templateDrivenForm.reset()" >Clear Form</button>
    <button type="button" class="form__submit-btn" (click)="resetPartial()" >Clear Partial</button>
  </form>
  <p>Form value: {{ templateDrivenForm.value | json }}</p>
</section>
